<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>gulp-webpack-node</title>
    <link rel="stylesheet" href="<%-feUrl%>/prd/app.css">
  </head>
  <body>
    <div class="main"></div>
    <script src="<%-feUrl%>/prd/app.js"></script>
  </body>
</html>
