<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>gulp-webpack-node</title>
    <link rel="stylesheet" href="<%-feUrl%>prd/index.css">
  </head>
  <body>
    <div class='main'></div>
    <script src="<%-feUrl%>prd/common.js"></script>
    <script src="<%-feUrl%>prd/libs.js"></script>
    <script src="<%-feUrl%>prd/index.js"></script>
  </body>
</html>
